mule-payment-example/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
      xmlns:authorize="http://www.mulesoft.org/schema/mule/authorizenet"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
       xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/3.1/mule-ajax.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/authorizenet http://www.mulesoft.org/schema/mule/authorizenet/3.1/mule-authorizenet.xsd
        http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/3.1/mule-salesforce.xsd
        http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd
        ">


    <ajax:connector name="paymentServer" serverUrl="http://0.0.0.0:${http.port}/services/checkout"
                    resourceBase="${app.home}/docroot">
        <!-- You can create this keystore using the keytool that comes with Java using a command like:
            keytool -genkey -alias mule -keyalg RSA -keystore <path to keystore>
        <ajax:key-store path="<path to keystore>" storePassword="${ssl.password}" keyPassword="${ssl.password}"/-->
    </ajax:connector>

    <authorize:config name="auth" merchantLogin="${auth.merchantLogin}"
                      merchantTransactionKey="${auth.merchantTransactionkey}"
                      testMode="true"/>

    <salesforce:config name="sfdc" username="${sfdc.username}" password="${sfdc.password}"
                       securityToken="${sfdc.securityToken}"/>

    <smtp:gmail-connector name="email" />

    <flow name="paymentFlow">
        <ajax:inbound-endpoint channel="/payment"/>

        <enricher>
            <authorize:authorization-and-capture amount="#[map-payload:amount]" cardNumber="#[map-payload:cardnumber]"
                                                 expDate="#[map-payload:cardexpire]" />

            <enrich target="#[variable:PaymentSuccess]" source="#[bean:responseCode]"/>
            <enrich target="#[variable:ErrorCode]" source="#[bean:responseReasonText]"/>
        </enricher>

        <choice>
            <when evaluator="variable" expression="PaymentSuccess=1">
                <async>
                    <enricher target="#[variable:AccountId]" source="#[groovy:payload.get(0).getId()]">
                        <salesforce:create type="Account">
                            <salesforce:sObject>
                                <salesforce:field key="Name" value="#[map-payload:company]"/>
                                <salesforce:field key="BillingCity" value="#[map-payload:city]"/>
                                <salesforce:field key="BillingCountry" value="#[map-payload:country]"/>
                                <salesforce:field key="BillingStreet" value="#[map-payload:address]"/>
                                <salesforce:field key="BillingState" value="#[map-payload:state]"/>
                                <salesforce:field key="Phone" value="#[map-payload:phone]"/>
                            </salesforce:sObject>
                        </salesforce:create>
                    </enricher>

                    <salesforce:create type="Contact">
                        <salesforce:sObject>
                            <salesforce:field key="AccountId" value="#[variable:AccountId]"/>
                            <salesforce:field key="FirstName" value="#[map-payload:first]"/>
                            <salesforce:field key="LastName" value="#[map-payload:last]"/>
                            <salesforce:field key="Email" value="#[map-payload:email]"/>
                            <salesforce:field key="Phone" value="#[map-payload:phone]"/>
                        </salesforce:sObject>
                    </salesforce:create>
                </async>

                <async>
                    <expression-transformer>
                        <return-argument evaluator="string"
                                         expression="We have a Mule Order from #[map-payload:first] #[map-payload:last]!"/>
                    </expression-transformer>

                    <smtp:outbound-endpoint host="smtp.gmail.com" port="587"
                                            user="ibeanstestinbox%40gmail.com" password="${gmail.password}"
                                            from="ibeanstestinbox@gmail.com" to="#[map-payload:email]"
                                            subject="Thank you for your Mule Order"/>

                </async>


                <expression-transformer>
                    <return-argument evaluator="string" expression="Success! We hope you enjoy your Mule!"/>
                </expression-transformer>
            </when>
            <otherwise>
                <expression-transformer>
                    <return-argument evaluator="string" expression="Error: #[variable:ErrorCode]"/>
                </expression-transformer>
            </otherwise>

        </choice>
        
        <default-exception-strategy>
            <processor-chain>
                <object-to-string-transformer/>

                <smtp:outbound-endpoint host="smtp.gmail.com" port="587"
                                        user="ibeanstestinbox%40gmail.com" password="${gmail.password}"
                                        from="ibeanstestinbox@gmail.com" to="ibeanstestinbox@gmail.com"
                                        subject="ERROR: Exception Caught"
                                        connector-ref="email"/>
            </processor-chain>
        </default-exception-strategy>
    </flow>
</mule>
